<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue-boolflix</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

</head>
<body>
    
    <div id="root">

        <button @click="searchEnter()">click me</button>

        <input type="text" 
            v-model="userSearch"
            name="userSearch"
            placeholder="Search here"
            @keyup.enter="searchEnter()"
        >

        <ul v-for="(data, index) in resultArray">
            <li >
                <div>
                    {{ data.title}} 
                    {{ data.name}}
                </div>
                
                <div>
                    {{ data.original_title}}
                    {{ data.original_name}}   
                </div>

                <div>
                    <img class="language-flag" :src="'img/' + data.original_language + '.jpg'" alt="">
                </div>

                <div>
                    {{ data.vote_average}}
                </div>

            </li>

        </ul>
    </div>

    <script src="js/script.js"></script>
</body>
</html>