<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue-boolflix</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Antonio:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

</head>
<body>

    <div id="root">

        <!-- HEADER -->
        <header class="flex">

            <div class="logo" @click="home">
                BOOLFIX
            </div>

            <!-- Search & button -->
            <div class="search">

                <button class="btn" @click="searchEnter()"><i class="fas fa-search"></i></button>

                <input type="text"
                    v-model="userSearch"
                    name="userSearch"
                    placeholder="Search here"
                    @keyup.enter="searchEnter()"
                >
            </div>

        </header>
        <!-- END HEADER -->

        <!-- MAIN -->
        <main>

            <div class="button-container">
                <button type="button"  @click="btnTv" class="button-select">Tv Series</button>
                <button type="button" @click="btnMovies" class="button-select">Movies</button>
                <button type="button" @click="btnAll" class="button-select">All</button>
            </div>

            <ul class="flex result-list" v-if="searchedTv.length > 0 || searchedMovie.length > 0 ">

                <!-- V-IF -->
                <li v-for="data in searchedMovie" class="single-element" v-if="visibleMovie" >
                    <div>

                        <div class="poster-movies">

                            <img v-if="data.poster_path == null" src="img/NoImageAvailable.jpg" alt="no-img">
                            <img v-else :src="'https://image.tmdb.org/t/p/' + 'w342' + data.poster_path" :alt="data.title" class="data.title">

                        </div>

                        <div class="info-movies">

                            <!-- Title -->
                            <div> Titolo:
                                {{ data.title}}
                                {{ data.name}}
                            </div>
                            <!-- End Title -->

                            <!-- Original Title -->
                            <div> Titolo originale:
                                {{ data.original_title}}
                                {{ data.original_name}}
                            </div>
                            <!-- End Original Title -->

                            <!-- Language -->
                            <div> Lingua:
                                <img class="language-flag" :src="'img/' + data.original_language + '.jpg'" :alt="data.original_language">
                            </div>
                            <!-- End Language -->

                            <!-- Vote -->
                            <div>
                                Voto:
                                <span v-for="star in convertVote(data)" class="stars">
                                    <i class="fas fa-star"></i>
                                </span>

                            </div>
                            <!-- End Vote -->

                            <!-- Overview -->
                            <div>
                                Overview: {{data.overview}}
                            </div>
                            

                            <div v-for="genre in searchedMovie.genre">
                                {{genre.name}}
                            </div>

                            <!-- Genre -->
                            <div v-if="data.genre.length > 1">
                                Generi:
                                {{data.genre[0].name}} -
                                {{data.genre[1].name}}
                            </div>

                            <div  v-if="data.genre.length == 1">
                                Generi:
                                {{data.genre[0].name}}
                            </div>
                            <!-- End Genre -->

                            <!-- Cast -->
                            <div v-if="data.cast.length > 4">
                                <ul>
                                    Attori :
                                    <li>
                                        {{data.cast[0].name}}
                                    </li>

                                    <li>
                                        {{data.cast[1].name}}
                                    </li>

                                    <li>
                                        {{data.cast[2].name}}
                                    </li>

                                    <li>
                                        {{data.cast[3].name}}
                                    </li>

                                    <li>
                                        {{data.cast[4].name}}
                                    </li>

                                </ul>
                            </div>

                            <div v-if="data.cast.length < 3">
                                <ul>
                                    Attori :
                                    <li>
                                        {{data.cast[0].name}}
                                    </li>

                                    <li>
                                        {{data.cast[1].name}}
                                    </li>

                                </ul>
                            </div>
                            <!-- End Cast -->

                        </div>

                    </div>

                </li>

                <li v-for="data in searchedTv" class="single-element"  v-if="visibleTv">
                    <div>

                        <div class="poster-movies">

                          <img v-if="data.poster_path == null" src="img/NoImageAvailable.jpg" alt="no-img">
                          <img v-else :src="'https://image.tmdb.org/t/p/' + 'w342' + data.poster_path" :alt="data.title" class="data.title">

                        </div>

                        <div class="info-movies">

                            <div> Titolo:
                                {{ data.title}}
                                {{ data.name}}
                            </div>

                            <div> Titolo originale:
                                {{ data.original_title}}
                                {{ data.original_name}}
                            </div>

                            <div> Lingua:
                                <img class="language-flag" :src="'img/' + data.original_language + '.jpg'" :alt="data.original_language">
                            </div>

                            <div>
                                Voto:
                                <span v-for="star in convertVote(data)" class="stars">
                                    <i class="fas fa-star"></i>
                                </span>

                            </div>

                            <div>
                                Overview: {{data.overview}}
                            </div>

                             <div v-if="data.genre.length > 1">
                                Generi:
                                {{data.genre[0].name}} -
                                {{data.genre[1].name}}
                            </div>

                            <div v-if="data.genre.length == 1">
                                Generi:
                                {{data.genre[0].name}}
                            </div>

                             <!-- Cast -->
                             <div v-if="data.cast.length == 5">
                                <ul>
                                    Attori :
                                    <li>
                                        {{data.cast[0].name}}
                                    </li>

                                    <li>
                                        {{data.cast[1].name}}
                                    </li>

                                    <li>
                                        {{data.cast[2].name}}
                                    </li>

                                    <li>
                                        {{data.cast[3].name}}
                                    </li>

                                    <li>
                                        {{data.cast[4].name}}
                                    </li>

                                </ul>
                            </div>

                            <div v-if="data.cast.length == 3">
                                <ul>
                                    Attori :
                                    <li>
                                        {{data.cast[0].name}}
                                    </li>

                                    <li>
                                        {{data.cast[1].name}}
                                    </li>

                                    <li>
                                        {{data.cast[2].name}}
                                    </li>

                                </ul>
                            </div>

                            <div v-if="data.cast.length == 2">
                                <ul>
                                    Attori :
                                    <li>
                                        {{data.cast[0].name}}
                                    </li>

                                    <li>
                                        {{data.cast[1].name}}
                                    </li>

                                </ul>
                            </div>
                            <!-- End Cast -->

                        </div>

                    </div>

                </li>


            </ul>

            <!-- V-ELSE -->
           <div v-else>

                <div>

                    <!-- Title Lis -->
                    <h2 class="list-title">Popular</h2>

                    <!-- List -->
                    <ul  class="preview-list list-top">

                        <li v-for="data in previewPopular"  class="single-element" >

                            <div>

                                <div class="poster-movies">

                                    <img v-if="data.poster_path || data.backdrop_path " :src="'https://image.tmdb.org/t/p/' + 'w342' + data.poster_path" :alt="data.title">
                                    <img v-else src="img/NoImageAvailable.jpg" :alt="data.title" class="no-img">

                                </div>

                                <div class="info-movies">

                                    <div> Titolo:
                                        {{ data.title}}
                                        {{ data.name}}
                                    </div>

                                    <div> Titolo originale:
                                        {{ data.original_title}}
                                        {{ data.original_name}}
                                    </div>

                                    <div> Lingua:
                                        <img class="language-flag" :src="'img/' + data.original_language + '.jpg'" :alt="data.original_language">
                                    </div>

                                    <div>
                                        Voto:
                                        <span v-for="star in convertVote(data)" class="stars">
                                            <i class="fas fa-star"></i>
                                        </span>

                                    </div>

                                    <div>
                                        Overview: {{data.overview}}
                                    </div>

                                </div>

                            </div>

                        </li>



                    </ul>

                </div>

                <div>

                    <!-- Title Lis -->
                    <h2 class="list-title">Top Rated</h2>

                    <!-- List -->
                    <ul  class="preview-list list-bottom" >

                        <li v-for="data in previewTopRated"  class="single-element">

                            <div>

                                <div class="poster-movies">

                                    <img v-if="data.poster_path || data.backdrop_path " :src="'https://image.tmdb.org/t/p/' + 'w342' + data.poster_path" :alt="data.title">
                                    <img v-else src="img/NoImageAvailable.jpg" :alt="data.title" class="no-img">

                                </div>

                                <div class="info-movies">

                                    <div> Titolo:
                                        {{ data.title}}
                                        {{ data.name}}
                                    </div>

                                    <div> Titolo originale:
                                        {{ data.original_title}}
                                        {{ data.original_name}}
                                    </div>

                                    <div> Lingua:
                                        <img class="language-flag" :src="'img/' + data.original_language + '.jpg'" :alt="data.original_language">
                                    </div>

                                    <div>
                                        Voto:
                                        <span v-for="star in convertVote(data)" class="stars">
                                            <i class="fas fa-star"></i>
                                        </span>

                                    </div>

                                    <div>
                                        Overview: {{data.overview}}
                                    </div>

                                </div>

                            </div>

                        </li>



                    </ul>

                </div>
           </div>

        </main>
        <!-- END MAIN -->

    </div>

    <script src="js/script.js"></script>
</body>
</html>
